*{padding:0px;margin:0px;}
body {font-family: 'microsoft yahei', Arial, Helvetica, sans-serif;color: #313131;background-color: #f6f6f6; font-size:15px;padding:0px;margin:0px; position:relative;}
a{color:#313131;}
a:hover{color:#313131; text-decoration:none;}
p{color:#313131;}


.mar0{margin:0px  !important;}
.marB15{margin:0px 0px  15px 0px !important;}
.marB20{margin:0px 0px 20px 0px !important;}
.marT15{margin-top:15px;}
.marT30{margin-top:30px;}
.marLR15{margin:0px 15px;}

.colorBlue{color:#0873bd !important;}
.colorGray{color:#999 !important;}
.color666{color:#666 !important;}
.colorWhite{color:#fff;}
.colorRed{color:#fc4023 !important;}
.colorZise{color:#7d24fb !important;}
.pad0{padding:0px !important;}
.pad10{padding:10px !important;}
.pad15{padding:15px !important;}
.padB15{padding:0px 0px 15px 0px !important;}
.padT15{padding-top:15px !important;}
.padT20{padding-top:20px !important;}
.padR5{padding-right:5px !important;}
.padL10{padding-left:10px !important;}
.padLR8{padding:0px 8px !important;}
.padLR15{padding:0px 15px !important;}
.padLR20{padding:0px 20px !important;}
.padLR25{padding:0px 25px !important;}
.padLR30{padding:0px 30px !important;}
.padTB5{padding:5px 0px !important;}
.padTB10{padding:10px 0px !important;}
.padTB15{padding:15px 0px !important;}
.padTB20{padding:20px 0px !important;}
.padTB25{padding:25px 0px !important;}
.padTB30{padding:30px 0px !important;}

.bgGray{ background:#f6f6f6;}
.bgWhite{ background:#fff;}
.bgBlue{ background:#0873bd;}
.bgBlack{ background:#333;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.zInput{width:100%; height:45px;border:none; border-top-right-radius:4px; border-bottom-right-radius:4px;}
.width100{width:100% !important;}



/*--layui重定义--*/
.layui-tab-title li {min-width: 50%; padding:0px; font-size:15px;    line-height: 45px;}
.layui-tab {margin:0px;text-align: left!important;}
.layui-btn { height: 45px; line-height: 45px;  font-size:15px;   border-radius: 4px; }
.layui-tab-title {height: 45px;}
.layui-tab-title .layui-this:after {height: 46px;}
.layui-btn-primary { border: 1px solid #fcd84e;border-radius:4px;}
.layui-tab-content {padding: 0px;}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #fc4023;
}
/*---mui 重定义---*/

/*--login--*/
.topbar{width:100%; height:45px; background:#fff;-moz-box-shadow:0px 1px 3px #e6e6e6; -webkit-box-shadow:0px 1px 3px #e6e6e6; box-shadow:0px 1px 3px #e6e6e6; color:#313131;}
.topbarleft{width:45px;height:45px;text-align:center; line-height:45px; cursor:pointer;}
.topbarright{width:45px;height:45px;text-align:center; line-height:45px;}
.topbarcenter{height:45px; line-height:45px; text-align:center; font-size:15px;}
.loginInputXtb{width:45px; height:45px; line-height:45px; text-align:center; }
.loginInput{border:1px solid #e6e6e6; margin-bottom:10px; background:#fff; box-sizing:border-box; border-radius:4px;}
.loginbox{padding:15px 15px;}
.hqyzm{border-left:1px solid #e6e6e6; border-bottom:none !important; font-size:14px; padding:0px 10px !important; line-height:45px; cursor:pointer; background:#f6f6f6;white-space: nowrap;
    text-overflow: ellipsis; overflow:hidden;}
.tpyzm{width:80px; height:35px; padding:5px 0px;}
.tpyzmsx{width:40px; line-height:45px; height:45px; text-align:center; cursor:pointer;}
/*--sjrz--*/
.sjrzitem{border-radius:5px;/* background:#fcd84e;*/

background: -webkit-linear-gradient(left, #ffe582 , #fcd84e); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ffe582 , #fcd84e); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ffe582 , #fcd84e); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ffe582 , #fcd84e); /* 标准的语法 */

 padding:15px; box-sizing:border-box; margin-bottom:10px;-moz-box-shadow:0px 0px 10px #fef3c9; -webkit-box-shadow:0px 0px 10px #fef3c9; box-shadow:0px 0px 10px #fef3c9;}
.sjrzitemtxt{text-align:center;  color:#313131; height:45px; line-height:45px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sjrzxtb{width:45px; height:45px; background:#fff; border-radius:30px;}
.sjrzjt{width:45px; height:45px; text-align:center; line-height:45px;}
.sjrzjt i{height:45px; line-height:45px;}
.sjrzxtb img{width:45px; height:45px; border-radius:45px; display:block; border:none;}

/*---rzsq--*/
.rzsq{border-radius:5px; background:#fff; padding:15px; box-sizing:border-box; margin-bottom:10px;
-moz-box-shadow:0px 0px 10px #e6e6e6; -webkit-box-shadow:0px 0px 10px #e6e6e6; box-shadow:0px 0px 10px #e6e6e6;}
.rzsqtxt{text-align:left; font-size:15px;padding-left:10px; height:45px; line-height:45px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.rzsqjt{width:45px; height:45px; text-align:center; line-height:45px; color:#999;}
.rzsqjt i{height:45px; line-height:45px;}
/*---sfzrz--*/
.sfzrzitemtxt{padding:0px 10px 0px 15px;height:45px; line-height:45px; text-align:center; }
.sfzrztssr{padding:0px 0px 10px 0px; text-align:center; color:#666;}
.sfzzimg{border:1px dashed #e6e6e6; border-radius:4px;}
.sfzzimg img{width:100%; cursor:pointer; border-radius:4px;}
.sfzzblank{width:15px;}
.pszptxt{font-size:13px; padding:5px 0px 5px 0px; text-align:center;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#666;}
.scsfzztishi{font-size:12px; line-height:24px; color:#666; padding-top:10px;}
.scsfzztitle{color:#313131;}
.scsfzzimg{border:1px dashed #e6e6e6; cursor:pointer; border-radius:4px;}
.scsfzzimg img{width:100%;border-radius:4px;}
.scsfzcont{background:#fff; box-sizing:border-box; border-radius:4px;}

/*---wyqd---*/
.qdsx{padding:10px; background:#fff;}
.qdlist{padding:0px 15px;}
.pxxtb{width:15px;padding-top:4px;}
.tabletitle{width:35px; line-height:35px; text-align:right; font-size:13px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.pxxtb i{float:left;width:15px; height:10px;color:#666;}
.pxxtb i:hover{color:#fc4023;}
.pxxtb i::before{ cursor:pointer;}
.diquxtb{width:15px;padding-top:6px;}
.diquxtb i{color:#666;}
.diquxtb i::before{cursor:pointer; font-size:10px;}
.diquxtb i:hover{color:#fc4023;}
.qdliitem{border-radius:4px;   
background:#fff;
-moz-box-shadow: 0px 0px 10px #e6e6e6;
    -webkit-box-shadow: 0px 0px 10px #e6e6e6;
    box-shadow: 0px 0px 10px #e6e6e6;
	margin-bottom:10px;
}
.wyqditemcz{border-top:1px solid #e6e6e6; height:35px; line-height:35px; text-align:center;font-size:13px;}
.wyqdckxq{border-right:1px solid #e6e6e6;}
.wyqditemcont{font-size:13px; line-height:22px; padding:0px 10px;}
.wyqdtopbox{padding:10px;}
.wyqdtime{padding:5px 10px 10px 10px; font-size:13px; color:#666;}
.wyqdname,.wyqdcash{padding:0px 10px 0px 0px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.wyqdaddr{font-size:13px; text-align:right;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.zcsx{height:24px; line-height:24px; font-size:13px; margin:5px;border:1px solid #e6e6e6; padding:0px 5px; border-radius:4px; float:left; display:block; box-sizing:border-box; cursor:pointer;}
.zcsxactive{height:24px; line-height:24px; font-size:13px; margin:5px;border:1px solid #fc4023; padding:0px 5px; border-radius:4px; float:left; display:block; box-sizing:border-box; background:#fc4023; cursor:pointer; color:#fff;}
.wyqdwxxtb{width:20px; height:20px;}
.wyqdwxxtb i::before{color:#666;}
.qdbutton{position:relative;}
.qdxtb{width:30px; height:20px; position:absolute;top:0px;left:0px;}
.qdxtb img{width:100%; padding:0px; margin:0px; display:block;}
.bottomnav{height:48px; background:#fff;border-top:1px solid #e6e6e6; position:fixed; bottom:0px; z-index:100;width:100%;}
.bnavxtb{height:20px; padding:7px 0px 2px 0px; text-align:center;}
.bnavxtb2{height:20px; padding:6px 0px 2px 0px; text-align:center;}
.bnavtxt{height:16px; line-height:12px; text-align:center; font-size:11px;}
.bnavblank{height:96px;width:100%;}
.bnavxtb i::before{font-size:18px;}
.bnavxtb2 i::before{font-size:15px;}
.bnavitem{cursor:pointer; color:#666;}
.bnavitemActive{color:#fc4023 !important;}

/*----dkrxx----*/
.xxcont{padding:15px; width:100%; box-sizing:border-box; position:absolute;top:155px;}
.xxitembox{border-radius:5px; background:#fff; box-sizing:border-box; margin-bottom:10px;
-moz-box-shadow:0px 0px 10px #e6e6e6; -webkit-box-shadow:0px 0px 10px #e6e6e6; box-shadow:0px 0px 10px #e6e6e6;}
.xxitemTitle{height:35px; line-height:35px; padding:0px 10px;border-bottom:1px solid #e6e6e6;}
.xxitemcont{padding:10px; font-size:14px;}
.xxitemli{padding:2px 0px 2px 0px; line-height:22px;}
.xxitemxtb{height:35px; line-height:35px; padding-right:5px;}
.xxitemxtb i{color:#fc4023;}
.xxhead{height:206px;    margin-top: 44px; /*background:#fcd84e;*/
 background:url(../images/dkbanner.jpg) top center;
/*background: -webkit-linear-gradient(#ffd374, #fcc54e);
  background: -o-linear-gradient(#ffd374, #fcc54e); 
  background: -moz-linear-gradient(#ffd374, #fcc54e);
  background: linear-gradient(#ffd374, #fcc54e);*/
position:relative;}
.xxheadbox{ padding:20px 0px 0px 0px; color:#eee;}
.xxheadblank{width:20px;}
.xxinfo{ text-align:center; padding:15px 0px; font-size:13px;}
.xxheadName{font-weight:bold; font-size:16px; height:20px; line-height:20px; padding:0px 10px 0px 0px;}
.xxheadPhone{height:24px; line-height:24px;}
.xxheadAddr{padding:2px 15px; text-align:center; line-height:22px; }
.dqdts{ height:20px; line-height:22px; border-radius:15px; padding:0px 10px; background:#fc4023; color:#fff; font-size:13px;}
.xxheadevery{ height:22px; line-height:22px;}
.xxheadNum{font-size:16px; font-weight:bold; color:#fc4023;}
.xxhlineright{border-right:1px solid #626373;}
/*----self center---*/
.mycenterxtb img{width:50px; height:50px;}
.mui-table-view-cell:nth-child(3n+0){border-right:none !important;}
.renzheng{width:50px; height:35px;position:absolute; z-index:100; top:0px; left:0px;}
.renzheng img{width:100%;}
.mytopbox{width:100%; height:200px; background:url(../images/mytopboxbg.jpg) no-repeat top center; margin-bottom:15px;}
.mycenhead{width:70px; height:70px; border-radius:70px; overflow:hidden; border:1px solid #fff; box-sizing:border-box; cursor:pointer;}
.mycenhead img{border-radius:70px; width:100%;}
.szcz{padding:0px 50px;}
.szczcont{ background:#fff; height:40px; line-height:40px; text-align:center; border-radius:4px;-moz-box-shadow:0px 0px 10px #b51b04; -webkit-box-shadow:0px 0px 10px #b51b04; box-shadow:0px 0px 10px #b51b04;}
.shezhibtn{border:none;border-right:1px solid #e6e6e6; height:40px; line-height:40px; width:100%; padding:0px;border-top-right-radius:0px;border-bottom-right-radius:0px; color:#666;}
.chongzhibtn{border:none;border-right:none; height:40px; line-height:40px; width:100%; padding:0px;border-top-left-radius:0px;border-bottom-left-radius:0px; color:#fc4023;}
.peocentxx{color:#fff; padding:15px 0px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.mycentzhye{padding-left:10px; opacity:0.8;}

/*------blank html css-------*/
.blankimgbox{width:150px; height:90px;}
.blankimgbox img{width:100%;}
.nofound{text-align:center; color:#313131; padding:10px 0px 20px 0px;}
.blkhtmlblk{height:180px;}
/*-------tk html css------*/
.tkbox{padding:15px; line-height:24px; position:relative;}
.tktitle{font-size:16px; font-weight:bold; color:#fc4023; padding:10px 0px 0px 0px;}
.tkbblank{height:75px; width:100%;}
.tkbottom{ position:fixed; bottom:0px; height:75px; width:100%; z-index:100; background:#fff; border-top:1px solid #e6e6e6; left:0px; box-sizing:border-box; padding:15px;}

/*-----dksq html css-----*/
.dksqbox{background:#fff;}
.yhkimg img{height:45px; width:45px !important; display:block;padding:0px; margin:0px;}
.dksqyhtitle{font-size:16px; height:25px; line-height:25px; padding-left:10px;}
.dksqyhtxt{color:#999; height:20px; line-height:20px; font-size:12px; padding-left:10px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dksqitem{border-right:1px solid #e6e6e6 !important; cursor:pointer; width:100%; border-radius:0px; padding:10px 15px !important; border-bottom:1px solid #e6e6e6 !important; height:auto !important; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.dksqitem:nth-child(2n+0){border-right:none; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.dksqinputtxt{width:95px; height:45px;    white-space: nowrap;
    text-overflow: ellipsis; overflow:hidden; line-height:45px; text-align:center; background:#f6f6f6; border-right:1px solid #e6e6e6; border-top-left-radius:4px; border-bottom-left-radius:4px;}
.rzzqbox{width:100%;box-sizing:border-box; padding:15px; background:#fff;}
.rzzqInput {border: 1px solid #e6e6e6;margin-bottom: 10px;background: #fff;box-sizing: border-box;border-radius: 4px;}
.rzzqInput input{height:45px; line-height:45px; margin-bottom:0px; border:none;}
.mui-checkbox a,label{font-family: 'microsoft yahei', Arial, Helvetica, sans-serif;}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
    padding-left: 35px;
}
.tytk{left:35px; position:absolute; height:36px; line-height:36px;}
.xxbcbox{padding:0px 15px; background:#fff;  border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}

.dksqtishi{width:100%;margin-top:10px; height:30px; line-height:30px; box-sizing:border-box; padding:0px 15px; background:#fcf5e5; font-size:12px;border-top:1px solid #e2e2e2; color:#c58200;}
.dksqts{width:100%;margin-bottom:10px; height:30px; line-height:30px; box-sizing:border-box; padding:0px 15px; background:#fcf5e5; font-size:12px;border-bottom:1px solid #e2e2e2; color:#c58200;}
.xxbcrjt{padding:0px 5px 0px 10px;text-align:center; color:#999; line-height:41px;}
.xxbcltxt{padding:0px 15px 0px 5px;}
.dktxtinput{border-bottom:1px solid #e2e2e2; padding:0px; height:45px; line-height:45px;}
.dktxtinput:last-child{border-bottom:none;}
.dktjsh{width:100%;box-sizing:border-box;}
.dktjshbtn{width:100%; border-radius:0px;}
.dktxtinput input[type="text"]{height:44px; line-height:44px; border:none; border-radius:0px; margin:0px;padding:0px; text-align:right;}
.xxbcltxt span{font-size:12px;color:#999;}