*{padding:0px;margin:0px;}
body {font-family: 'microsoft yahei', Arial, Helvetica, sans-serif;color: #313131;background-color: #fff; font-size:14px;padding:0px;margin:0px; position:relative;}
a{color:#313131;}
a:hover{color:#1d75c1; text-decoration:none;}

.mar0{margin:0px  !important;}
.marB15{margin:0px 0px  15px 0px !important;}
.marB20{margin:0px 0px 20px 0px !important;}
.marT15{margin-top:15px;}
.marT30{margin-top:30px;}
.marLR15{margin:0px 15px;}

.colorBlue{color:#0873bd !important;}
.colorGray{color:#999 !important;}
.color666{color:#666 !important;}
.colorWhite{color:#fff;}
.pad0{padding:0px !important;}
.pad10{padding:10px !important;}
.pad15{padding:15px !important;}
.padB15{padding:0px 0px 15px 0px;}
.padT15{padding-top:15px;}
.padLR8{padding:0px 8px !important;}
.padLR15{padding:0px 15px !important;}
.padLR20{padding:0px 20px !important;}
.padLR25{padding:0px 25px !important;}
.padLR30{padding:0px 30px !important;}
.padTB10{padding:10px 0px !important;}
.padTB15{padding:15px 0px !important;}
.padTB20{padding:20px 0px !important;}
.padTB25{padding:25px 0px !important;}
.padTB30{padding:30px 0px !important;}

.bgGray{ background:#f6f6f6;}
.bgWhite{ background:#fff;}
.bgBlue{ background:#0873bd;}
.bgBlack{ background:#333;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.zInput{width:100%; height:45px;border:none; border-top-right-radius:4px; border-bottom-right-radius:4px;}
.width100{width:100% !important;}



/*--layui重定义--*/
.layui-tab-title li {min-width: 50%; padding:0px;    line-height: 45px;}
.layui-tab {margin:0px;text-align: left!important;}
.layui-btn { height: 45px; line-height: 45px;    border-radius: 4px; }
.layui-tab-title {height: 45px;}
.layui-tab-title .layui-this:after {height: 46px;}
.layui-btn-primary { border: 1px solid #fbda27;border-radius:4px;}
/*--login--*/
.topbar{width:100%; height:45px; background:#fbda27; color:#313131;}
.topbarleft{width:45px;height:45px;text-align:center; line-height:45px; cursor:pointer;}
.topbarright{width:45px;height:45px;text-align:center; line-height:45px;}
.topbarcenter{height:45px; line-height:45px; text-align:center; font-size:15px;}
.loginInputXtb{width:45px; height:45px; line-height:45px; text-align:center; }
.loginInput{border:1px solid #e6e6e6; margin-bottom:10px; box-sizing:border-box; border-radius:4px;}
.loginbox{padding:0px 5px;}
.hqyzm{border-left:1px solid #e6e6e6; font-size:14px; padding:0px 10px; line-height:45px; cursor:pointer; background:#f6f6f6;}
.tpyzm{width:80px; height:35px; padding:5px 0px;}
.tpyzmsx{width:40px; line-height:45px; height:45px; text-align:center; cursor:pointer;}
/*--sjrz--*/
.sjrzitem1{border-radius:5px; background:#069ce8; padding:15px; box-sizing:border-box; margin-bottom:10px;-moz-box-shadow:0px 0px 10px #c6ecff; -webkit-box-shadow:0px 0px 10px #c6ecff; box-shadow:0px 0px 10px #c6ecff;}
.sjrzitem2{border-radius:5px; background:#fc4b53; padding:15px; box-sizing:border-box; margin-bottom:10px;
-moz-box-shadow:0px 0px 10px #fdcccf; -webkit-box-shadow:0px 0px 10px #fdcccf; box-shadow:0px 0px 10px #fdcccf;}
.sjrzitem3{border-radius:5px; background:#b450e6; padding:15px; box-sizing:border-box; margin-bottom:10px;
-moz-box-shadow:0px 0px 10px #ecc9fd; -webkit-box-shadow:0px 0px 10px #ecc9fd; box-shadow:0px 0px 10px #ecc9fd;}
.sjrzitemtxt{text-align:center; font-size:16px; color:#fff; height:45px; line-height:45px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sjrzxtb{width:45px; height:45px; background:#fff; border-radius:30px;}
.sjrzjt{width:45px; height:45px; text-align:center; line-height:45px; color:#fff;}
.sjrzjt i{height:45px; line-height:45px;}
.sjrzxtb img{width:45px; height:45px; border-radius:45px; display:block; border:none;}

/*---rzsq--*/
.rzsq{border-radius:5px; background:#fff; padding:15px; box-sizing:border-box; margin-bottom:10px;
-moz-box-shadow:0px 0px 10px #ddd; -webkit-box-shadow:0px 0px 10px #ddd; box-shadow:0px 0px 10px #ddd;}
.rzsqtxt{text-align:left; font-size:15px;padding-left:10px; color:#333; height:45px; line-height:45px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.rzsqjt{width:45px; height:45px; text-align:center; line-height:45px; color:#999;}
.rzsqjt i{height:45px; line-height:45px;}
/*---sfzrz--*/
.sfzrzitemtxt{padding:0px 10px 0px 15px;height:45px; line-height:45px; text-align:center; }
.sfzrztssr{padding:0px 0px 10px 0px; text-align:center; color:#666;}
.sfzzimg{border:1px solid #fff7ce; border-radius:3px;}
.sfzzimg img{width:100%; cursor:pointer;}
.sfzzblank{width:15px;}
.pszptxt{font-size:13px; padding:5px 0px 5px 0px; text-align:center;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#666;}
.scsfzztishi{font-size:12px; line-height:24px; color:#666;}
.scsfzztitle{color:#313131;}